<div class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Edit Customer</h2>
        <button (click)="closeModal()" class="close-button">X</button>
      </div>
      
      <form (ngSubmit)="saveChanges()" class="edit-form">
        <label>
          Name:
          <input [(ngModel)]="editedCustomer.name" name="name" required />
        </label>
        <label>
          Surname:
          <input [(ngModel)]="editedCustomer.surname" name="surname" required />
        </label>
        <label>
          Email:
          <input type="email" [(ngModel)]="editedCustomer.email" name="email" required />
        </label>
        <label>
          Phone Number:
          <input type="tel" [(ngModel)]="editedCustomer.phoneNumber" name="phoneNumber" required />
        </label>
        <div class="modal-footer">
          <button type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
  