<div class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Edit Book</h2>
        <button (click)="closeModal()" class="close-button">X</button>
      </div>
      
      <form (ngSubmit)="saveChanges()" class="edit-form">
        <label>
          Name:
          <input [(ngModel)]="editedBook.name" name="name" required />
        </label>
        <label>
          Author:
          <input [(ngModel)]="editedBook.author" name="author" required />
        </label>
        <label>
          Year:
          <input type="number" [(ngModel)]="editedBook.year" name="year" required />
        </label>
        <label>
          Type:
          <input [(ngModel)]="editedBook.type" name="type" required />
        </label>
        <div class="modal-footer">
          <button type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
  