<div class="books-list">
  <h2>Books List</h2>

  <!-- Κουμπί για προσθήκη νέου βιβλίου -->
  <button (click)="addBook()" class="add-button">Add New Book</button>

  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Year</th>
        <th>Type</th>
        <th>Author</th>
        <th>Created On</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td><img [src]="book.imageUrl" alt="{{ book.name }} image" width="50" height="75"></td>
        <td>{{ book.name }}</td>
        <td>{{ book.year }}</td>
        <td>{{ book.type }}</td>
        <td>{{ book.author }}</td>
        <td class="date-cell">{{ book.createdOn | date }}</td>
        <td class="actions">
          <button (click)="viewBook(book)">View</button>
          <button (click)="editBook(book)">Edit</button>
          <button (click)="deleteBook(book)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-view-book-modal *ngIf="isModalOpen && selectedBook" [book]="selectedBook" (close)="closeModal()"></app-view-book-modal>

  <app-edit-book-modal *ngIf="isEditModalOpen && selectedBookForEdit" 
                       [book]="selectedBookForEdit" 
                       (save)="saveBookChanges($event)" 
                       (close)="closeEditModal()"></app-edit-book-modal>

  <app-add-book-modal *ngIf="isAddModalOpen" 
                      (save)="saveNewBook($event)" 
                      (close)="closeAddModal()"></app-add-book-modal>
</div>
