<div class="reservations-list">
    <h2>Reservations List</h2>
    <ul>
      <li *ngFor="let reservation of reservations" class="reservation-item">
        <h3>Reservation ID: {{ reservation._id }}</h3>
        <p>Book: {{ reservation.book.name }} ({{ reservation.book.year }})</p>
        <p>Author: {{ reservation.book.author }}</p>
        <p>Customer: {{ reservation.customer.name }} {{ reservation.customer.surname }}</p>
        <p>Email: {{ reservation.customer.email }}</p>
        <p>Phone: {{ reservation.customer.phoneNumber }}</p>
        <p>Reserved On: {{ reservation.reservedOn | date }}</p>
        <p>Return By: {{ reservation.returnBy | date }}</p>
        <p>Status: {{ reservation.status }}</p>
      </li>
    </ul>
  </div>